{% extends 'app.html' %}

{% block title %}
Tambah
{% endblock %}

{% block css %}
<!--for css custom-->
{% endblock %}

{% block content %}
    <div class="card">
    <div class="card-header">
        <h3 class="card-title">Tambah Mahasiswa</h3>
    </div>
      <div class="card-body">
        <div class="card">
            <div class="card-body">
                <form action="/save-mahasiswa" method="post">

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="" class="control-label">NIM :</label>
                                <input type="number" class="form-control" name="nim">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="" class="control-label">Nama Lengkap :</label>
                                <input type="text" class="form-control" name="nama_lengkap">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="" class="control-label">Email :</label>
                                <input type="email" class="form-control" name="email">
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="" class="control-label">Tanggal Lahir :</label>
                                <input type="date" class="form-control" name="tanggal_lahir">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="" class="control-label">Jurusan :</label>
                                <select name="jurusan" class="form-control">
                                    <option value="">Pilih Jurusan</option>
                                    <option value="1">Teknik Informatika</option>
                                    <option value="2">Sistem Informasi</option>
                                    <option value="3">Sistem Komputer</option>
                                </select>
                            </div>
                        </div>

                    </div>

                    <div class="form-group">
                        <label for="" class="control-label">Alamat :</label>
                        <textarea class="form-control" name="alamat"></textarea>
                    </div>

                    <div class="form-group">
                        <a href="/" class="btn btn-warning btn-lg">Batal</a>
                        <button class="btn btn-primary btn-lg" type="submit">Simpan</button>
                    </div>

                </form>
            </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block js %}
<!--for js custom-->
{% endblock %}