{% extends 'layouts/app.html' %}

{% block title %}
Add User
{% endblock %}

{% block content %}
<div class="container">
    <div class="p-5">
        <form class="card" action="save-user" method="post">
            <div class="card-header">
                <div class="title"><i class="fa fa-user-plus"></i> Add New User</div>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label for="" class="control-label">Username</label>
                    <input type="text" name="username" class="form-control" maxlength="45" placeholder="Username...">
                </div>
                <div class="form-group">
                    <label for="" class="control-label">Username</label>
                    <input type="text" name="fullname" class="form-control" maxlength="150" placeholder="Fullname...">
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-primary"><i class="fa fa-save"></i> Save User</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}