{% extends 'layouts/app.html' %}

{% block title %}
Tree
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/tree.css') }}">
{% endblock %}

{% block content %}
<div class="tree"></div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="" class="control-label"></label>
                    <select name="metode" id="metode">
                        <option value=""></option>
                        <option value="">Parent / Induk</option>
                        <option value="">Turunan</option>
                        <option value="">Jaringan</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="" class="control-label"></label>
                    <select name="user" id="user">
                        <option value=""></option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="modalInsertTree" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form class="modal-content" action="save-tree" method="post">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input name="lnum" type="hidden" />
                <input name="rnum" type="hidden" />
                <input name="idparent" type="hidden" />
                <div class="form-group">
                    <label class="control-label">User</label>
                    <select class="form-control select2" name="user">
                        {% if userAvailable %}
                        {% for u in userAvailable %}
                        <option value="{{u.id}}">{{ u.fullname }}</option>
                        {% endfor %}
                        {% endif %}
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label">Position</label>
                    <select class="form-control" name="position">
                        <option value="l">Left</option>
                        <option value="r">Right</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    var id = '{{id}}';

    function getLRnum(id, l, r) {
        $('#modalInsertTree input[name="lnum"]').val(l)
        $('#modalInsertTree input[name="rnum"]').val(r)
        $('#modalInsertTree input[name="idparent"]').val(id)
        $('#modalInsertTree').modal('show')
    }

    function getTree(id) {
        $.ajax({
            url: '/ajax-data-tree',
            success: function (response) {
                appendToTreeUserList(response)
                let data = getNestedChildren(response, id)
                $('.tree').html(data)
            }
        })
    }

    function appendToTreeUserList(res){
        let opt = '';
        if(res !=null){
            data = res;
            for(i = 0;i <data.length; i++){
                opt += '<option value="'+data[i].id_user+'">'+data[i].fullname+'</option>';
            }

            $('#user').html(opt)
        }

    }

    function getNestedChildren(arr, parent) {
        let out = ''
        out += '<ul>'
        for (var i in arr) {
            if (arr[i].id_parent == parent) {
                out += '<li>'
                if (arr[i].Rnum == (arr[i].Lnum + 1)) {
                    out += '<a href="#" onclick="getLRnum(' + arr[i].id_user + ',' + arr[i].Lnum + ',' + arr[i].Rnum + ')">(' + arr[i].Lnum + ') | ' + arr[i].fullname + ' | (' + arr[i].Rnum + ')</a>'
                } else {
                    out += '<a href="' + arr[i].id_user + '">(' + arr[i].Lnum + ') | ' + arr[i].fullname + ' | (' + arr[i].Rnum + ')</a>'
                }
                var children = getNestedChildren(arr, arr[i].id_user)
                if (children.length) {
                    out += arr[i].children = children
                } else {
                    out += ''
                }
                out += '</li>'
            } else {
                out += ''
            }
        }
        out += '</ul>'
        return out
    }

    $(document).ready(function () {

        if (id != '') {
            getTree(id);
        } else {
            getTree(null);
        }

    })
</script>
{% endblock %}