{% extends 'layouts/app.html' %}

{% block title %}
Tree
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/tree.css') }}">
{% endblock %}

{% block content %}
<div class="tree"></div>

<!-- Modal -->
<div class="modal fade" id="modalSearchTree" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><i class="fa fa-search"></i> Searching</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="" class="control-label"></label>
                    <select name="metode" id="metode" class="form-control">
                        <option value="">Pilih Metode</option>
                        <option value="1">Parent / Induk</option>
                        <option value="2">Turunan</option>
                        <option value="3">Jaringan</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="" class="control-label"></label>
                    <select name="userId" id="userId" class="form-control">
                        <option value="">Pilih User</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-times"></i>
                    Close</button>
                <button type="button" class="btn btn-primary" id="btnSearch"><i class="fa fa-search"></i>
                    Search</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalInsertTree" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form class="modal-content" action="save-tree" method="post">
            <div class="modal-header">
                <h5 class="modal-title">Insert Tree</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input name="lnum" type="hidden" />
                <input name="rnum" type="hidden" />
                <input name="idparent" type="hidden" />
                <div class="form-group">
                    <label class="control-label">User</label>
                    <select class="form-control select2" name="user">
                        {% if userAvailable %}
                        {% for u in userAvailable %}
                        <option value="{{u.id}}">{{ u.fullname }}</option>
                        {% endfor %}
                        {% endif %}
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label">Position</label>
                    <select class="form-control" name="position">
                        <option value="l">Left</option>
                        <option value="r">Right</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    var id = '{{id}}';

    function getLRnum(id, l, r) {
        $('#modalInsertTree input[name="lnum"]').val(l)
        $('#modalInsertTree input[name="rnum"]').val(r)
        $('#modalInsertTree input[name="idparent"]').val(id)
        $('#modalInsertTree').modal('show')
    }

    function getTree(id) {
        $.ajax({
            url: '/ajax-data-tree',
            success: function (response) {
                appendToTreeUserList(response)
                let data = getNestedChildren(response, id)
                $('.tree').html(data)
            }
        })
    }

    function appendToTreeUserList(res) {
        let opt = '';
        if (res != null) {
            data = res;
            for (i = 0; i < data.length; i++) {
                opt += '<option value="' + data[i].id_user + '">' + data[i].fullname + '</option>';
            }

            $('#userId').html(opt)
        }

    }

    function getNestedChildren(arr, parent) {
        let out = ''
        out += '<ul>'
        for (var i in arr) {
            if (arr[i].id_parent == parent) {
                out += '<li>'
                if (arr[i].Rnum == (arr[i].Lnum+1)) {
                    out += '<a href="#" onclick="getLRnum(' + arr[i].id_user + ',' + arr[i].Lnum + ',' + arr[i].Rnum + ')">(' + arr[i].Lnum + ') | ' + arr[i].fullname + ' | (' + arr[i].Rnum + ')</a>'
                } else {
                    out += '<a href="' + arr[i].id_user + '">(' + arr[i].Lnum + ') | ' + arr[i].fullname + ' | (' + arr[i].Rnum + ')</a>'
                }
                var children = getNestedChildren(arr, arr[i].id_user)
                if (children.length) {
                    out += arr[i].children = children
                } else {
                    out += ''
                }
                out += '</li>'
            } else {
                out += ''
            }
        }
        out += '</ul>'
        return out
    }

    function getChildren(arr) {
        let out = ''
        out += '<ul>'
        for (var i in arr) {
            out += '<li>'
            out += '<a href="#">(' + arr[i].Lnum + ') | ' + arr[i].fullname + ' | (' + arr[i].Rnum + ')</a>'
            out += '</li>'
        }
        out += '</ul>'
        return out
    }

    function getParent(arr){
        console.log(arr)
        let out = ''
        out += '<ul>'
            out += '<li>'
            out += '<a href="#">(' + arr.Lnum + ') | ' + arr.fullname + ' | (' + arr.Rnum + ')</a>'
            out += '</li>'
        out += '</ul>'
        return out
    }

    function getDataSearching(metode, userId) {
        let urlData = '';

        if (metode == 1) {
            urlData = '/get-parent/' + userId
        }

        if (metode == 2) {
            urlData = '/get-network-down-tree/' + userId
        }

        if (metode == 3) {
            urlData = '/get-network-up-tree/' + userId
        }

        $.ajax({
            url: urlData,
            type: 'GET',
            success: function (response) {
                $('.tree').empty()
                let tree = '';
                if (metode == 1) {
                    tree = getParent(response)
                }

                if (metode == 2) {
                    tree = getNestedChildren(response, userId);
                }

                if (metode == 3) {
                    tree = getChildren(response)
                }

                $('.tree').html(tree)
                $('#modalSearchTree').modal('hide')
            }
        })
    }

    $(document).ready(function () {

        if (id != '') {
            getTree(id);
        } else {
            getTree(null);
        }

        $('#modalSearchTree #btnSearch').on('click', function () {
            let metode = $('#metode').val();
            let userId = $('#userId').val();
            getDataSearching(metode, userId)
        })

    })
</script>
{% endblock %}